@media (min-width: 768px) {
  nav{
    border-bottom: 1px solid rgb(181, 181, 181);
  }
  .menu-btn {
    display: none;
  }
  .nav-links {
    flex-direction: row;
    position: static;
    width: unset;
    height: unset;
    transform: none;
    box-shadow: none;
    background-color: transparent;
    z-index: 1;
  }

  .profile-container{
    flex-direction: row;
  }

  .about-me{
    flex-direction: row;
  }
  .skills-categories{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .projects-container{
    flex-direction: row;
  }

}
