@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto+Condensed:ital,wght@0,400;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 2rem;
  font-weight: 500;
}
h2 {
  font-size: 1.8rem;
  font-weight: 500;
}
p {
  color: rgb(85, 85, 85);
  font-size: 1.5rem;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}
.nav-links {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  font-size: 1.3rem;
}
a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 0.7rem;
  text-decoration-color: rgb(181, 181, 181);
}
.logo {
  font-size: 2.2rem;
  font-weight: 500;
  text-transform: capitalize;
}
.logo:hover {
  cursor: default;
}
#hamburger-nav {
  display: none;
}

.hamburger-menu {
  display: inline-block;
  position: relative;
}

.hamburger-icon {
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hamburger-icon span {
  height: 2px;
  width: 100%;
  background-color: black;
  transition: all 0.3s ease-in-out;
}
.menu-links {
  list-style-type: none;
  position: absolute;
  right: 0;
  max-height: 0;
  width: fit-content;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.menu-links.open {
  max-height: 300px;
}
.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.profile-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
  align-items: center;
}
.profile-pic-container {
  max-width: 350px;
}
.profile-pic-container img {
  width: 100%;
  border-radius: 50%;
}
.profile-details {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.profile-details p {
  color: rgb(85, 85, 85);
  font-size: 1.15rem;
  font-weight: 500;
  text-align: center;
}
.profile-details h1 {
  text-align: center;
}
.profile-details span {
  font-size: 1.4rem;
  color: rgb(85, 85, 85);
  font-weight: 600;
  text-align: center;
}
.cv-contact-btns {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.cv-btn,
.contact-btn,
.project-btn {
  padding: 1rem;
  border-radius: 2rem;
  font-size: 0.75rem;
  border: none;
  width: 7rem;
  background-color: rgb(53, 53, 53);
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.cv-btn,
.project-btn {
  border: 1px solid rgb(53, 53, 53);
  background: transparent;
  color: rgb(53, 53, 53);
  font-weight: 600;
}
.cv-btn:hover,
.project-btn:hover {
  background-color: rgb(53, 53, 53);
  color: white;
}
.contact-btn:hover {
  background-color: black;
}

.icons-container {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
.icon {
  width: 2.2rem;
  border: none;
  background-color: transparent;
}
.icon img {
  border-radius: 50%;
  width: 100%;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  height: 90vh;
  position: relative;
}

.about-me {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1.5rem;
  gap: 2rem;
  margin: 2rem;
}
.experience,
.education {
  border: 1px solid rgb(183, 183, 183);
  padding: 2rem;
  width: 100%;
  text-align: center;
  border-radius: 2rem;
  max-width: 300px;
  color: rgb(85, 85, 85);
}
.experience h2,
.education h2 {
  font-size: 1.2rem;
}

.about-container p:first-child {
  color: rgb(85, 85, 85);
  font-size: 1.2rem;
}
.profile-summary {
  color: rgb(85, 85, 85);
  font-size: 1rem;
  padding-left: 7rem;
  padding-right: 7rem;
  max-width: 800px;
}
.arrow {
  position: absolute;
  bottom: 2.5rem;
  right: 5rem;
}

.skills-container {
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
.skills-categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  padding: 2rem;
}
.category {
  border: 1px solid rgb(183, 183, 183);
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.articles-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
article {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
.projects {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  gap: 2rem;
}
.project-image {
  max-width: 400px;
}
.project-image img {
  width: 100%;
  border-radius: 2rem;
}
.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}
.sample-project {
  text-align: center;
  gap: 2rem;
}
.project-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.project-btn {
  font-size: 1rem;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  height: 80vh;
  justify-content: center;
}
.contacts-btns {
  padding: 2rem;
  border: 1px solid rgb(53, 53, 53);
  border-radius: 2rem;
}
.contacts-btns span {
  margin: 1rem;
}
.social-btns {
  display: inline-flex;
  vertical-align: middle;
  margin: 1rem;
}
